/* tama;o estandar de los textos en todos los navegadores es 16 px 
16 px = 1em 
*/
body{
    border: 1px solid red;
    font-size: 16px;
    /* margin: 4px; afecta alos 4 orteacion*/
    /* margin: 4px 5px; Ariba/abajo Izquierda/derecha */
    /* margin: 5px 8px 10px 4px; arriba derecha abajo izquierda */
    margin: 0px auto;
    max-width: 1024px;

}
header{
    background: #d1e3ee;
}

#logo{/* id = logo */
    margin: -150px 0px 0px 0px;
    /* margin-top: -150px; */
}