body {
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
}

header article {
    display: inline-block;
    position: relative;
    width: 55%;
}

hr {
    border-style: dashed;
    color: #949494;
}

section article {
    display: inline-block;
    height: 500px;
}

footer article {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 16%;
}

#art01 {
    height: 100%;
    position: absolute;
}

#art01 img {
    margin-left: 20px;
    margin-top: 35px;
}

#art01 nav ul {
    margin-left: -29px;
    margin-top: 40px;
}

#art01 nav ul li {
    display: inline-block;
    padding: 8px 10px;
}

#art02 {
    padding: 0 565px;
    width: 44%;
}

#art0201 {
    margin-left: 310px;
    width: 100%;
}

#art0202 {
    margin-left: 100px;
    margin-top: 10px;
    width: 100%;
}

#art0203 {
    margin-left: 37px;
    margin-top: -3px;
    width: 100%;
}

#sect01 {
    margin-bottom: -100px;
}

#art03 {
    margin-left: 10px;
    position: relative;
    top: -135px;
    width: 54%;
}

#art03 img {
    width: 45%;
    padding-top: 37px;
}

#art04 {
    width: 44%;
}

#video02 {
    padding-left: 25px;
}

#bike {
    width: 450px;
    height: 490px;
}

#years {
    position: relative;
    top: -95px;
    right: 15px;
}

.alineado {
    position: relative;
    top: -14px;
}

.color-gris {
    color: #939ba3;
}

.color-verde {
    color: #51f15e;
}

.color-negrogris {
    color: #737471;
}

.color-nude {
    color: #878978;
    font-weight: bold;
    text-transform: uppercase;
}

.letra-titulo {
    font-size: 4.3em;
}

.nito {
    font-weight: bold;
}
