html{
     /* propiedades */
    --color-verde: #849c3c;
    --color-negro: #353535;
    --color-rojo: #d33040;
    --color-gris: lightgray;
    --fondo-negro: #2c2c2c;
    --color-blue: lightblue;
    --color-blanco: white;
    --color-linea:#949494;
}
body{
    font-size: 16px;    
    max-width: 1024px;
    margin: 0px auto;
}

header ul li{    
    display: inline-block;
    margin-left: -5px;
    padding: 8px 10px;
    text-align: center;
    width: 17.9%;
}
header ul li:nth-child(2){
    background: var(--color-verde);
    margin-left: -30px;
}
header ul li:nth-child(3){
    width: 19%;
    background: var(--color-negro);
}
header ul li:nth-child(4){
    width: 19%;
    background: var(--color-rojo);
}
header ul li:nth-child(5){
    width: 18%;
    background: var(--color-gris);
}
section,footer{
    background: var(--fondo-negro);
}
section article{
    display: inline-block;
    height: 280px;
    vertical-align: top;
    padding: 18px 8px;    
    width: 17.9%;
}
section article ul{
    list-style: none;
}
section img{
    width: 150px;
}
section article:nth-child(2){
    background: var(--color-verde);
}
section article:nth-child(3){
    background: var(--color-negro);
}
section article:nth-child(4){
    background: var(--color-rojo);
}
section article:nth-child(5){
    background: var(--color-gris);
}
footer img{
    width: 300px;
}
footer article{
    display: inline-block;
    margin-top: 20px;
    padding: 10px ;
    vertical-align: top;
    width: 31.1%;    
}
hr{
    border-style: dashed;
    color: var(--color-linea);
}
.letra-blue{
    color: var(--color-blue);
}
.letra-blanva{
    color: var(--color-blanco);
}
.letra-gris{
    color: var(--color-linea);
}
.tam-menu-lateral{
    font-size: 1.1em;
}
.tam-tarjetas{
    font-size: 1.7em;
}
.read-more{
    margin-left: 220px;
    /* border: 1px solid red; */
}